/* PROPRIETA' GENERALI */
*{
  box-sizing: border-box;
  margin:0 auto;
  padding:0;
  /* Font standard */
  font-family: 'Montserrat', sans-serif;
}
/* /PROPRIETA' GENERALI */

/* Proprietà colonna */
[class*="col-"]{
  color:black;
  font-weight: bold;
  height: 230px; /* 200px + 30 di padding */
  background-color: pink;
  border: 1px solid black;

  /* Centra testo nella cella */
  line-height: 200px;
  text-align: center;
}

/* COLONNE NESTED */

/* Aggiungi padding alle celle nested */
.container [class*="col-"]{
  padding: 15px; /* volutamente più spesso dell'esercizio*/
}

/* Seleziona le colonne nested */
.container [class*="col-"] .container [class*="col-"]{
  position: relative;
  background-color: lightcoral;
  border: 1px solid white;
  height: 200px;  /* 200-30 di padding*/

  /* Resetta line-height */
  line-height: normal;

}

.container [class*="col-"] .container [class*="col-"] span {
  /* Centra testo nella colonna */
  position: absolute;
  transform: translate(-50%,-50%);
  top:50%;
  left:50%;
}

/* /COLONNE NESTED */
